/* =========================
   IMPRESIÓN RECIBO
========================= */

@media print {

    @page {
        size: A4;
        margin: 8mm;
    }

    body {
        margin:0;
        padding:0;
        background:white;
    }

    .recibo {

        width:100%;
        max-width:none;

        padding:10px !important; 
        margin:0 !important;

        border-radius:0;
        box-shadow:none;

        transform:none !important;
    }


    #qrWhatsapp {

        width:80px !important;
        height:80px !important;

    }

}
