/* =========================
   IMPRESIÓN RECIBO
========================= */

@media print {

    @page {
        size: A4;
        margin: 5mm;
    }

    body {
        margin:0;
        padding:0;
        background:white;
    }

    .recibo {

        width:100%;
        max-width:none;

        padding:5px !important;
        margin:0 !important;

        border-radius:0;
        box-shadow:none;

        transform:none !important;

        page-break-inside: avoid;
    }


    #qrWhatsapp {

        width:60px !important;
        height:60px !important;

    }


    h1, h2, h3 {
        margin:3px 0 !important;
    }


    p {
        margin:3px 0 !important;
        line-height:1.1 !important;
    }


    table {
        margin:5px 0 !important;
    }


    footer,
    .pie,
    .footer {

        margin-top:3px !important;
        padding-top:3px !important;
        line-height:1 !important;
        font-size:10px !important;

        page-break-inside: avoid;
    }


    * {
        color:#000 !important;
    }

}
